<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <div class="media-body">
         <h2 class="media-heading"></h2>
       </div>
     </div>
   </div>
 </div>
 
<% if @user == current_user %>
  <h3>Your List</h3>
<% else %>
  <h3><%= "#{@user.email}'s List" %></h3>
<% end %>

<div>
<%= render partial: "items/item", locals: { item: @item, user: @user } %>
</div>

<div>
<%= render partial: "items/form", locals: { item: @item, user: @user } %>
</div>
