<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <div class="media-body">
         <h2 class="media-heading"></h2>
       </div>
     </div>
   </div>
 </div>
 
<h3>Your Lists</h3>

<div>
<%= render partial: "items/item", locals: { item: @item, user: @user } %>
</div>

<div>
<%= render partial: "items/form", locals: { item: @item, user: @user } %>
</div>
