<ul class="list-group list-group">
    <% user.items.each do |item| %>
         <li class="list-group-item", id="item-<%= item.id %>">
	 <% if @user == current_user %>
             <%= link_to "", user_item_path(@user, item), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
	 <% end %>
           <span>
             <%= item.name %>
           </span>
           <br>
           <div>
              <small>added <%= local_time_ago(item.created_at) %></small>
           </div>
         </li>
    <% end %>
</ul>
