// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item { word-wrap: break-word; }

.label-as-badge {
    border-radius: 1em;
}

#item-created {
  color: gray;
  font-style: italic;
  
 }

#check-mark {
 padding-right: 5px;
}

